@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { height: 100%;}

body {
    background-color: hsl(0, 0%, 95%);
    height: 100%;
}

a { text-decoration: none; }

.container {
    width: 70vw;
    position: relative;
    top: 10vh;
    margin: 0 auto;
}

.card {
    display: flex;
    flex-flow: row wrap;
}

.card__column {
    flex: 1;
    padding: 60px;
}

.card__icon {
    margin-bottom: 30px;
}

.card__info {
    margin-bottom: 120px;
}

.card__info--headings {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color:hsl(0, 0%, 95%);
    margin-bottom: 30px;
}

.card__info--text,
.btn {
    font-family: 'Lexend', sans-serif;
}

.card__info--text {
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 30px;
    display: block;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    width: 90%;
}

.btn {
    color: #000;
    font-weight: 700;
    background-color: hsl(0, 0%, 95%);
    padding: 15px 35px;
    border-radius: 25px;
    mix-blend-mode: screen;
}

.btn:hover {
    color: #fff;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
}

.card__first-column {
    background-color: hsl(31, 77%, 52%);
    border-radius: 8px 0 0 8px;
}

.card__second-column {
    background-color: hsl(184, 100%, 22%);
}

.card__third-column {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 8px 8px 0;
}

.attribution {
    color: #C0C0C0;
    font-size: 12px;
    text-align: center;
    margin-top: 50px;

}

.attribution a {
    color: #808080;
}

@media only screen and (max-width: 1379px) and (min-width: 500px){
    .card__info--text {
        width: 100%;
    }
}

@media only screen and (max-width: 1291px) and (min-width: 1138px) {
    .container {
        width: 80vw;
    }
}

@media only screen and (max-width: 1136px) {
    .container {
        width: 90vw;
    }
}

@media only screen and (max-width: 923px) {
    .container {
        width: 70vw;
    }

    .card {
        display: flex;
        flex-flow: column wrap;
    }

    .card__first-column {
        border-radius: 8px 8px 0 0;
    }

    .card__third-column {
        border-radius: 0 0 8px 8px;
    }

    .card__info {
        margin-bottom: 60px;
    }

    .card__info--text {
        line-height: 40px;
        width: 80%;
    }
}

@media only screen and (max-width: 603px) and (min-width: 370px) {
    .container {
        width: 90vw;
    }

    .card__info--text {
        line-height: 30px;
        width: 90%;
    }
}

@media only screen and (max-width: 360px) {
    .container {
        width: 90vw;
    }

    .card__column {
        padding: 40px;
    }

    .card__info--text {
        line-height: 30px;
        width: 100%;
    }
}